<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dllo.foodpie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_news_keep_heighlight"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTitle">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"></activity>
        <activity android:name=".options.SetActivity"></activity>
        <activity android:name=".enter.EnterActivity"></activity>
        <activity android:name=".goeat.NetLineActivity"></activity>
        <activity android:name=".goeat.first.PictureActivity"></activity>
        <activity android:name=".goeat.first.PictureADActivity"></activity>
        <activity android:name=".foodcyclopedia.FoodDescriptionActivity"></activity>
        <activity android:name=".foodcyclopedia.FoodSearchActivity"/>
    </application>

</manifest>